html, body
{
  color: #fff;
  font-family: Helvetica, sans-serif;
  line-height: 1.6em;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: normal;
}

body
{
  background-color: #4a6f85;
}

a
{
  color: #eee;
}

a:visited
{
  color: #eee;
}

.notice
{
  background-color: #fc0;
  color: #000;
  font-size: 0.9em;
  line-height: 1.3em;
  padding: 0.2em 0.4em;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  border-bottom-left-radius: 4px;
}

.notice a
{
  color: #000;
}

footer
{
  bottom: 0.5em;
  opacity: 0.5;
  position: absolute;
  right: 0.5em;
}

article.about
{
  font-size: 1.2em;
  margin: 1em;
  padding: 1em;
}

article.about nav
{
  bottom: 2em;
  position: absolute;
}

article.about nav .hidden
{
  display: none;
}

article.about header
{
  font-size: 3em;
  line-height: 1em;
}

article.about header .photo
{
  border-radius: 4px;
  float: left;
  margin-right: 0.2em;
}

article.about header h1
{
  font-weight: normal;
}

article.about header h1 abbr
{
  text-decoration: none;
  border-style: none;
}

article.about header p
{
  font-size: 0.5em;
  line-height: 1em;
}

article.about nav li
{
  text-shadow: -1px -1px 1px #666;
}
