body
{
  background: #123;
  background-size: 100%;
  color: #fff;
  font-family: 'Raleway', arial, serif;
  font-size: 14px;
  font-weight: normal;
  padding: 2em;
  text-shadow: -1px -1px 0 #000;
}

a
{
  color: #09c;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
}

a:hover
{
  color: #0cf;
  text-decoration: underline;
  -webkit-transition: color 0.2s linear;
}

footer
{
  font-size: 1.2em;
  line-height: 1.3em;
  margin-top: 1em;
  opacity: 0.5;
  text-align: right;
  text-transform: uppercase;
}

footer li
{
  display: inline;
  list-style-type: none;
  margin-left: 1em;
}

footer li:first-child
{
  float: left;
  margin-left: 0;
  opacity: 0.5;
}