@media screen and (max-device-width: 480px)
{
  .notice
  {
    position: relative;
    border-bottom-left-radius: 0;
  }

  article.about
  {
    margin: 0.3em;
    padding: 0.3em;
  }

  article.about header
  {
    font-size: 1.6em;
    margin-bottom: 1em;
    margin-top: 0.5em;
  }
  
  article.about header p
  {
    font-size: 0.6em;
  }
  
  article.about header .photo
  {
    margin-right: 0.3em;
  }

  article.about nav
  {
    bottom: auto;
    position: relative;
  }

  article.about nav li
  {
    text-shadow: -1px -1px 1px #666;
  }

  footer
  {
    bottom: auto;
    position: relative;
    right: auto;
    text-align: center;
  }
}