@media screen and (max-device-width: 480px)
{
  body
  {
    background-color: #000;
  }
  
  .notice
  {
    border-top-right-radius: 0;
    opacity: 0.8;
    position: relative;
  }

  article.about
  {
    margin: 0.3em;
    padding: 0.3em;
  }

  article.about header
  {
    font-size: 1.6em;
  }
  
  article.about header p
  {
    font-size: 0.6em;
  }
  
  article.about header .photo
  {
    height: 2.2em;
    margin-right: 0.3em;
    width: 2.2em;
  }

  article.about section
  {
    margin-bottom: 1em;
    margin-top: 1em;
    overflow: hidden;
  }
  
  article.about section p
  {
    font-size: 0.8em;
  }

  footer
  {
    bottom: auto;
    position: relative;
    right: auto;
    text-align: center;
  }
  
  article.about nav
  {
    position: relative;
  }
  
  article.about nav li:first-child
  {
    display: none;
  }

  
  #backstretch
  {
    opacity: 0.5;
  }
}