#backstretch-next, #backstretch-previous
{
  border-style: none;
  cursor: pointer;
  font-size: 0;
  height: 32px;
  margin-top: -16px;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  width: 32px;
}

#backstretch-next:hover, #backstretch-previous:hover
{
  opacity: 1;
}

#backstretch-next
{
  background: transparent url(/images/photos/next.png) no-repeat;
  right: 10px;
}

#backstretch-previous
{
  background: transparent url(/images/photos/previous.png) no-repeat;
  left: 10px;
}