html, body
{
  background-color: #2a2a2a;
  color: #fff;
  font-family: Verdana, Arial, San-Serif;
  padding-top: 0;
  margin-top: 2px;
  overflow: hidden;
}

h1
{
  border-bottom: solid 1px #fff;
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 6px;
  margin: 0;
}

form
{
  background-color: #222;
  padding: 5px;
  margin: 0 0 10px 0;
}

.twtr-hd
{
  display: none!important;
}

input[type="text"]
{
  background-color: #000;
  border-radius: 1px;
  color: #fff;
  border: 1px solid #333;
  font-size: 14px;
  padding: 2px 0.5%;
  width: 80%;
}

input[type="submit"]
{
  background-color: #333;
  border-radius: 2px;
  border: 1px solid #555;
  font-size: 14px;
  float: right;
  padding: 2px 0.5%;
  width: 19%;
  color: #ccc;
}

.popularKeywords
{
  border-top: solid 1px #333;
  background-color: #111;
  bottom: 0;
  font-size: 1em;
  padding-bottom: 10px;
  position: absolute;
  max-height: 33%;
  overflow: hidden;
  width: 100%;
  left: 0;
  z-index: 99;
  display: none;
}

.popularKeywords h2
{
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #d5d5d5;
  font-weight: normal;
  font-size: 16px;
  padding-bottom: 6px;
  margin: 6px 10px;
}

.popularKeywords #dynaCloud
{
  font-size: 0.5em;
  margin: 0 10px 10px 10px;
}

.popularKeywords a
{
  color: #ccc;
  text-decoration: none;
  cursor: normal;
}

#dynaCloudText
{
  display: none;
}