<section class="portfolio">
  <ul class="projects">
    <%- 4.times do -%>
    <li class="project">
      <%= image_tag 'portfolio/placeholder.png', :alt => '', :class => 'screenshot' %>
      <article>
        <header>
          <h3 class="title">Web Start Page</h3>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
      </article>
    </li>
    <%- end -%>
  </ul>
</section>