<article style="font-size: 3em">
  <div id="showcase" class="showcase">
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <p>
            It's finished.
          </p>
        </div>
      </div>
    </div>
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <img src="/images/photos/internet.jpg" height="400">
        </div>
      </div>
    </div>
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <p>
            With the help of Gera, Dermot &amp; our team of 1000 cloud monkeys...
          </p>
        </div>
      </div>
    </div>
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <img src="/images/photos/monkeys.jpg" height="400">
        </div>
      </div>
    </div>
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <p>
            ...we wrote the final code at 22:42 on the 23rd of June 2011.
          </p>
        </div>
      </div>
    </div>
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <p>
            Dermot is locking up the servers with the final code now. All of them.
          </p>
        </div>
      </div>
    </div>
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <p>
            What now?
          </p>
        </div>
      </div>
    </div>
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
          <img src="/images/photos/beer.jpg" height="400">
        </div>
      </div>
    </div>
    <div class="showcase-slide">
      <div class="showcase-content">
        <div class="showcase-content-wrapper">
        </div>
      </div>
    </div>
  </div>
</article>