<div class="notice">
  <%= t(:notice, :scope => [:site], :url => 'github.com/paulmwatson/paulmwatson.com').html_safe %>
</div>

<article class="about">
  <header>
    <h1><%= t :title, :scope => [:site] %></h1>
    <p><%= t :sub_title, :scope => [:site] %>.</p>
  </header>
  <nav>
    <ul>
      <li>Email: <a href="mailto:paul@paulmwatson.com">paul@paulmwatson.com</a></li>
      <li>Phone: +353 86 896 8944</li>
      <li>Twitter: <a href="http://twitter.com/paulmwatson">@paulmwatson</a></li>
      <li>Skype: <a href="skype:paulmwatson?call">paulmwatson</a></li>
      <li><a href="http://ie.linkedin.com/in/paulmwatson">LinkedIn</a></li>
      <li><a href="http://www.flickr.com/photos/paulwatson/">Photos</a></li>
      <li><a href="http://lastfm.com/user/paulmwatson/">Music</a></li>
      <li><a href="http://delicious.com/PaulMWatson/">Links</a></li>
      <li><a href="http://blog.paulmwatson.com/">Blog</a></li>
      <li><a href="https://www.google.com/calendar/b/0/embed?src=paul@paulmwatson.com&amp;ctz=Europe/Dublin">Calendar</a></li>
      <li><a href="http://github.com/paulmwatson/">Github</a></li>
      <li><a href="http://behance.net/paulmwatson/frame">Portfolio</a></li>
    </ul>
  </nav>
</article>